# Compiled binaries
hello
hello_debug
hello_optimized
hello_strict
hello_clang
hello_warnings
hello_test*
hello_lint_check
hello_gcc_lint
hello_clang_lint
*.exe
*.out

# Object files
*.o
*.obj

# Debug files
*.dSYM/
*.pdb